@import './bootstrap/customizations.scss';
@import './resources.scss';

body {
  margin: 0;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  background-color: #dfdfdf;
  color: #000000;
  text-align: center;
}
header {
  width:100%;
  padding: 15px;
  background-color: #D8D8BF;
  color: #00703B;
  font-size: 30px;
}
h1{
  font-size: 30px;
}
